<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=85.190.254.173;
         Initial Catalog=2122_IT1c_db5; User=2122_IT1c_group5; Password=hS9C5zj2!R36"/>
	</connectionStrings>
</configuration>
